{{#contentFor 'scripts'}}
  <script>
  const postsForMap = [
  {{#foreach posts}}
    {title: "{{title}}",
    url: "{{url}}",
    slug: "{{slug}}",
    feature_image: "{{feature_image}}",
    location: "{{primary_tag.name}}",
    gc: "{{tags.[1].name}}",
    authors: [{name: "{{primary_author.name}}", profile_image: "{{primary_author.profile_image}}"},{name: "{{authors.[1].name}}", profile_image: "{{authors.[1].profile_image}}"}],
    published_at: "{{published_at}}"},
  {{/foreach}}]
  </script>
{{/contentFor}}

<section class='lp-home-map-wrapper lp-border lp-border-bottom grid'>
  <div class='lp-home-map' id='map'></div>
  {{#is "tag"}}
    {{#tag}}
    <div class="lp-place-name">
      <h1>{{name}}</h1>
    </div>
    {{/tag}}
  {{/is}}
</section>

<section class="grid lp-border-bottom lp-border">
  <div class="lp-home-card-container">
  {{#foreach posts}}
    {{> "card" home="true"}}
  {{/foreach}}
  </div>
</section>

<section class="grid lp-border-bottom lp-border lp-places__card-container">
  <h2>Places</h2>
  <div class="lp-places-container">
    {{^is "tag"}}
      {{#get "tags" include="count.posts" order="count.posts desc"}}
          {{#foreach tags}}
              {{> "place-card"}}
          {{/foreach}}
      {{/get}}
    {{else}}
      {{#tag}}
        {{#get "tags" include="count.posts" order="count.posts desc" filter="slug:-{{slug}}"}}
            {{#foreach tags}}
                {{> "place-card"}}
            {{/foreach}}
        {{/get}}
      {{/tag}}
    {{/is}}
  </div>
</section>

{{#is "home"}}
<section class="grid lp-featured lp-border-bottom lp-border">
  <h2>Featured Posts</h2>
  <div class="lp-featured-grid">
  {{#foreach posts limit="6"}}
    <article class="lp-featured-card">
      <header>
        <a href="{{url}}"> <img
             srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 500w,
            {{img_url feature_image size="l"}} 700w,
            {{img_url feature_image size="xl"}} 1000w"
            sizes="500px"
            src="{{img_url feature_image size="l"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
        /></a>
      </header>  
      <div class="lp-featured-body">
         <p class="lp-badge">
          {{primary_tag.name}}
        </p>
        <h3><a href="{{url}}">{{title}}</a></h3>
        <div class="lp-featured-card-meta">
        {{authors}}
        </div>
      </div>
    </article>
  {{/foreach}}
  </div>
</section>
{{/is}}

{{#contentFor 'foot'}}

{{/contentFor}}


