{{#contentFor 'scripts'}}
  <!-- <link
    rel='stylesheet'
    href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'
    integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=='
    crossorigin=''
  /> -->

{{/contentFor}}

<div style="display:none">
  <img data-map-pin  src="{{asset 'images/map-pin.png' }}" >
  <img data-map-pin-shadow  src="{{asset 'images/map-pin-shadow.png' }}" >
</div>

<section class='lp-home-map-wrapper lp-border lp-border-bottom'>
  <div class='lp-home-map-middle'>
    <div class='lp-home-map' id='map'></div>

    <div class='lp-places lp-border lp-border-left'>
      {{#get 'tags' include='count.posts' order='count.posts desc' limit='4'}}
        {{#foreach tags}}
          <div class='lp-place lp-border lp-border-bottom'><a href='{{url}}'>
              {{name}}</a></div>
        {{/foreach}}
      

      <div class='lp-place'><a href='#'>More Places &rarr;</a></div>
    </div>
  </div>
  <div class='lp-home-map-right lp-places'>
    {{#foreach tags}}
    <div class='lp-place lp-border lp-border-bottom'></div>
{{/foreach}}
    <div class='lp-place'></div>
  </div>
</section>
{{/get}}

<div class="lp-home-card-container">
{{#foreach posts}}

<article class="lp-home-card" id="{{slug}}" style="background-image: url({{img_url feature_image size="m"}}) ">
<header class="lp-home-card__header">
  <p class="lp-home-card__location">
    {{primary_tag.name}}
  </p>
</header>
<div>
  <div class="lp-home-card__body">
    <h2>{{title}}</h2>
  </div>
  <footer>
    <div class="lp-home-card__authors">
      {{#foreach authors}}
        <div class="lp-author">
          <img src="{{img_url profile_image size="s"}}" alt="{{name}}">
          <p>{{name}}</p>
        </div>
      {{/foreach}}
    </div>
    <a href="{{url}}">
      <svg viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path d="M12 11V8l4 4-4 4v-3H8v-2h4zm0-9c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 18c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8z" fill="currentColor" /></svg>
    </a>
  </footer>
</div>
</article>

{{/foreach}}
</div>

{{#contentFor 'foot'}}
  <!-- <script
    src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'
    integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=='
    crossorigin=''
  ></script>
  <script
    src='https://unpkg.com/@tryghost/content-api@1.7.2/umd/content-api.min.js'
  ></script>
  <script> -->

    
     
  </script>
{{/contentFor}}


