<div class='lp-overlay' aria-expanded='false' id="{{type}}">
  <div class='lp-menu'>
    <div class="grid lp-border lp-border-bottom">
      <div class="lp-menu__title-container">
        <p class='lp-menu__title'><a href='{{@site.url}}'>{{@site.title}}</a></p>
        <button class='lp-close-button lp-button lp-button--icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            width='24'
            height='24'
          ><path fill='none' d='M0 0h24v24H0z'></path><path
              d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z'
            ></path></svg>
        </button>
      </div>
      <p>{{@site.description}}</p>
      </div>
      {{#match type "=" "nav"}}
      <div class='grid lp-border lp-border-bottom'>
        {{navigation}}
      </div>
      <div class='grid lp-border lp-border-bottom'>
        <h2>Places</h2>
          {{#get "tags" limit="9" include="count.posts" order="count.posts desc"}}
            {{#foreach tags}}
              <p><a href="{{url}}">{{name}}</a></p>
            {{/foreach}}
          {{/get}}
      </div>
      {{else}}
        {{> "search"}}
      {{/match}}
    </div>
</div>