{{!< default}}

{{#author}}
<div class="lp-author__header lp-border lp-border-bottom grid">
    {{#if profile_image}}<img class="lp-author__profile" src="{{img_url profile_image size="m"}}" alt="{{name}}">{{/if}}
        <h1>{{name}}</h1>
    {{#if location}}
        <div class="lp-author__location">
            <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill="currentColor" /></svg><p>{{location}}</p>
        </div>
    {{/if}}
    {{#has any="twitter,facebook,website"}}
        <div class="lp-author__social">
            {{#if twitter}}
                <a href="{{twitter_url}}" title="{{name}} Twitter">
                    <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z" fill="currentColor" /></svg>
                </a>
            {{/if}}
            {{#if facebook}}
                <a href="{{facebook_url}}" title="{{name}} Facebook">
                    <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15.402 21v-6.966h2.333l.349-2.708h-2.682V9.598c0-.784.218-1.319 1.342-1.319h1.434V5.857a19.19 19.19 0 0 0-2.09-.107c-2.067 0-3.482 1.262-3.482 3.58v1.996h-2.338v2.708h2.338V21H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1h-4.598z" fill="currentColor" /></svg>
                </a>
            {{/if}}
            {{#if website}}
                <a href="{{website}}" title="{{website}}">
                    <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v8h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z" fill="currentColor" /></svg>
                </a>
            {{/if}}
        </div>
    {{/has}}
    {{#if bio}}
        <p class="lp-author__bio">{{bio}}</p>
    {{/if}}
    {{#if cover_image}}
    <div class="lp-author__cover-image lp-border">
        <img src="{{img_url cover_image}}" alt="{{name}}">
    </div>
    {{/if}}
</div>
{{/author}}

<div class="grid lp-border lp-border-bottom lp-author__wrapper">
    <section class="lp-author__container">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
    </section>
</div>