<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{meta_title}}</title>

        {{!-- Google Fonts --}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap" rel="stylesheet">
        {{!-- CSS and JS with asset helper--}}
        <link rel="stylesheet" href="{{asset "built/app.css"}}" />
        <script src="{{asset "built/app.js"}}" defer></script>

        {{!-- contentFor/block scripts - use with defer --}}
        {{{block "scripts"}}}
        
        {{!-- Outputs important meta data and settings, should always be in <head> --}}
        {{ghost_head}}
    </head>

    <div style="display:none">
    <img data-map-pin  src="{{asset 'images/map-pin.png' }}" >
    <img data-map-pin-shadow  src="{{asset 'images/map-pin-shadow.png' }}" >
    </div>
    <body class="{{body_class}}">
        
        {{^is "post"}}
            <div class="grid lp-border lp-border-bottom">
                {{!-- Navbar partial --}}
                {{> "navbar"}}
            </div>
        {{/is}}

        {{> "overlay" type="nav"}}

        <main id="theme-main">
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}
        </main>

        {{> "cta"}}

        {{> "footer"}}

        {{{block "foot"}}}

        {{!-- Outputs important scripts - should always be included before closing body tag --}}
        {{ghost_foot}}
    </body>
</html>