<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{meta_title}}</title>

        {{!-- Google Fonts --}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        
        {{!-- CSS and JS with asset helper--}}
        <link rel="stylesheet" href="{{asset "built/app.css"}}" />
        <script src="{{asset "built/app.js"}}" defer></script>

        {{!-- contentFor/block scripts - use with defer --}}
        {{{block "scripts"}}}
        
        {{!-- Outputs important meta data and settings, should always be in <head> --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">
        
        {{#is "post"}}

        <div class="lp-bg">
        {{{block "bg"}}}

        </div>

{{/is}}

        <div class="grid lp-border lp-border-bottom {{#is "post"}}lp-post{{/is}}">
            {{!-- Navbar partial --}}
            {{> "navbar"}}
        </div>

        {{> "menu"}}

        <main id="theme-main">
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}
        </main>

        <div class="grid">
            {{!-- Navbar partial --}}
            {{> "footer"}}
        </div>

        {{{block "foot"}}}

        {{!-- Outputs important scripts - should always be included before closing body tag --}}
        {{ghost_foot}}
    </body>
</html>