{{! Put this into default.hbs }}
{{!< default}}

{{#post}}

 
  

  <header class='lp-post__header'>
    <div class="lp-post__header-img">
        <img src='{{img_url feature_image size='xl'}}' />
    </div>
    <div class="grid lp-post lp-border lp-border-bottom">
        {{> "navbar"}}
    </div>


    <div class="grid">

    <h1>{{title}}</h1>

    <div class='lp-post__author'>
      {{#foreach authors}}
        <a href="{{url}}" class='lp-author'>
          {{#if profile_image}}<img src='{{img_url profile_image size='s'}}' alt='{{name}}' />{{/if}}
          <p>{{name}}</p>
        </a>
      {{/foreach}}
    </div>

    <div class='lp-post__meta'>
        <a class='lp-post__primary-tag' href='{{primary_tag.url}}'><svg viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>{{primary_tag.name}}</a></>
        <p class='lp-post__pub-date'><svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z" fill="currentColor" /></svg>{{date format="MMMM DD, YYYY"}}</p>
        <div class="lp-post__share-container">
          <button class='lp-post__share-btn' id="lp-share-button" data-name="{{@site.title}}"><svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 14h-2a8.999 8.999 0 0 0-7.968 4.81A10.136 10.136 0 0 1 3 18C3 12.477 7.477 8 13 8V2.5L23.5 11 13 19.5V14zm-2-2h4v3.308L20.321 11 15 6.692V10h-2a7.982 7.982 0 0 0-6.057 2.773A10.988 10.988 0 0 1 11 12z" fill="currentColor"/></svg>Share</button>
          {{> "share-menu"}}
        </div>
    </div>

    <div class='lp-post__excerpt'><p>{{excerpt}}</p></div>
    </div>
  </header>

  <div class='lp-post__map'>

  </div>

  <article class='{{post_class}} lp-post__content'>
    {{content}}
  </article>

{{/post}}

{{#contentFor 'scripts'}}
  <script src='{{asset "built/post.js"}}' defer></script>
{{/contentFor}}